* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Jost",sans-serif;
}

nav {
    width: 100%;
    height: 94px;
    line-height: 75px;
    padding: 21px 168px;
    position: relative;
    background-image: linear-gradient(blue, blue);
}

nav .logo{
    margin-left: -58px;
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav ul{
    float: right;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}


.star-pro{
    background-color: #F0F6FF;
    padding: 22px 1px 16px 0px;
    border-radius: 10px;
    margin: 7px 0px 36px 3px;
}

.client-pro{
    text-align: left;
    margin-left: 16px;
}

.client_con{
    padding: 9px 24px 6px 11px;
}


.pro-con{
    text-align: left;
    margin-left: 16px;
}

.Profession1{
    margin: 1px 1px 14px 8px;
    padding: 5px 72px 6px 0px;
}


.medium{
    padding: 71px;
    background-color: blue;
}

.mm-4 {
    margin: 57px 2px 14px 0px;
    padding: 0px 9px 1px 2px;
}

.medium2{
    background-color: white;
}

.fit{
    padding: 3px 69px 14px 94px;
    margin: 111px 0px 0px 0px;
}

.fit2{
    max-width: 100%;
    margin: 61px;
}

.text-white1{
    font-size: 42px;
    line-height: initial;
}


.text-white2{
    color: #919294;
    margin-top: 20px;
}

.button3{
    display: inline-block;
    padding: 10px 45px;
    background-color: #8F12FD;
    border: none;
    color: #fff;
    border-radius: 35px;
    margin: 20px 191px 14px 3px;
    text-decoration: none;
}


.text-white {
    color: #fff !important;
    font-size: 2.5rem;
    text-align: left;
    margin-top: 53px;
    margin-left: 7px;
}

.text-heading1{
    color: #fff !important;
    font-size: 43px;
    text-align: left;
    line-height: initial;
}

.text-white3{
    font-size: 16px;
    color: white;
    text-align: left;
    margin-left: 8px;
}

.btn.btn-primary-gradient, .btn.btn-secondary-gradient::after {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}


.button1{
    display: inline-block;
    padding: 10px 45px;
    background-color: rgba(193, 173, 230, 0.637) ;
    border: none;
    color: #fff;
    border-radius: 35px;
 
    text-decoration: none;
}


.button2{
    display: inline-block;
    padding: 10px 45px;
    background-color: rgba(193, 173, 230, 0.637);
    border: none;
    color: #fff;
    border-radius: 35px;
    text-decoration: none;
    margin-right: 442px;
    margin: 19px 2px 4px 21px;
}




.text-primary-gradient {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    -webkit-text-fill-color: transparent;
}

.section-banner {
    padding: 105px;
    text-align: left;
    background: blue;
    color: white;
    font-size: 200;
    font-weight: 400;
}

.button{
    display: inline-block;
    padding: 10px 45px;
    background-color: #171717;
    border: 1px solid #171717;
    color: #fff;
    border-radius: 5px;
    margin-top: 7px;
}

.working1{
    margin: 11px 0px 19px 2px;
    background-color: #F0F6FF;
    padding: 16px 8px 81px 2px;
    border-radius: 10px;
}


.working2 {
    margin: 11px 0px 19px 2px;
    background-color: #F0F6FF;
    padding: 16px 8px 81px 2px;
    border-radius: 10px;
}
.working3 {
    background-color: #F0F6FF;
    padding: 13px 26px 82px 8px;
    border-radius: 10px;
    margin: 15px 0px;
}
.working4 {
    background-color: #F0F6FF;
    padding: 16px 8px 81px 2px;
    border-radius: 10px;
    margin: 11px 0px 19px 2px;
}

.working5 {
    background-color: #F0F6FF;
    padding: 16px 8px 81px 2px;
    border-radius: 10px;
    margin: 11px 0px 19px 2px;
}

.working6 {
    background-color: #F0F6FF;
    padding: 16px 8px 81px 2px;
    border-radius: 10px;
    margin: 11px 0px 19px 2px;
}



.app{
    color: #8f12fd;
    font-size: 1.25rem;
}


.Features1{
    color: #8F12FD;
    font-size: 1.25rem;
}


.mb-5{
    font-size: 55px;
}

.mb-1 {
    text-align: left;
    margin-left: 16px;
}

.mb-2{
    text-align: left;
    margin-left: 23px;
}

.mn-3{
    text-align: left;
    margin-left: 16px;
}

.mb-3 {
    text-align: left;
    margin-left: 33px;
    padding: 1px 4px 9px 0px;
}

.mb-4{
    text-align: left;
    margin-left: 16px;
}

.mb-6{
    text-align: left;
    margin-left: 16px;
}

.mb-17{
    text-align: left;
    margin-left: 17px;
}


.medium5{
    margin: 110px;
}

.screen1{
    margin: 56px 26px;
    text-align: justify;
}

.Screenshot{
    color: #8F12FD;
    font-size: 1.25rem;
}

.frendly_fitness{
    font-size: 40px;
    line-height: initial;
}

.p12{
    color: #919294;
    margin-bottom: 21px;
}

.fa-check{
    color: #8F12FD;
}

.working_7 {
    text-align: center;
    background-color: #F0F6FF;
    padding: 0px 0px 28px 0px;
    border-radius: 12px;
}

.fa-3x {
    background-color: blue;
    font-size: 38px;
    border-radius: 81px;
    padding: 22px 25px 21px 23px;
    margin: -29px 15px 5px 2px;
}


.d-flex{
    padding: 0px 0px 0px 0px;
}



.mt-4{
        background-color: blue;
        position: relative;
        overflow: hidden;
        border: none;
        color: #FFFFFF;
        z-index: 1;
        border-radius: 50rem !important;
        padding: 12px 26px 12px 25px;
        margin: 11px 167px 32px 6px;
        text-decoration: none;
}

.pad{
    margin: 29px 24px 10px 18px;
}


.working7 {
    text-align: center;
    background-color: #F0F6FF;
    padding: 0px 0px 28px 0px;
    border-radius: 14px;
}
.working8 {
    text-align: center;
    background-color: #F0F6FF;
    padding: 0px 0px 28px 0px;
    border-radius: 14px;
}

.working9 {
    text-align: center;
    background-color: #F0F6FF;
    padding: 0px 0px 28px 0px;
    border-radius: 14px;
}

.Powerful{
    text-align: left;    
    margin-left: 22px;
}


.p11{
    text-align: center;
    margin: 0px 40px 1px 29px;
}


.ma-1{
        text-align: center;
        margin-right: 22px;
        margin-left: 8px;
        font-size: 21px;
}

.ma-2{
        text-align: center;
        margin-right: 22px;
        margin-left: 8px;
        font-size: 21px; 
}

.ma-3{
        text-align: center;
        margin-right: 22px;
        margin-left: 8px;
        font-size: 21px;    
}


.medium6{
    margin: 65px;
}

.fit1{
    margin: 89px 6px 8px 131px;
    padding: 5px 2px 13px 18px;
}

.mb-7 {
    font-size: 27px;
    text-align: left;
    color: #4294e3;
    padding-top: 29px;
    margin-left: 31px;
}

.HT1{
    margin: 0px 58px 11px 0px;
    color: #919294;
}

.HT2{
    margin: 0px 0px 11px 0px;
}

.HT3{
    margin: 0px 79px 11px 0px;
    color: #919294;
}

.HT4{
    margin: 0px 0px 11px 0px;
}

.HT5{
    margin: 0px 37px 11px 0px;
    color: #919294;
}

.HT6{
    margin: 0px 0px 11px 0px;
}

.HT7{
    text-align: left;
    margin-left: 18px;
    color: #919294;
}

.HT8{
    margin: 0px 0px 11px 0px;
}

.p14 {
    color: #919294;
    text-align: left;
    margin-left: 33px;
}

.mb-8{
    font-size: 26px;
    margin-right: 124px;
    color: #4294e3;
}


.p15{
    margin-right: 88px;
}

.mb-9{
    font-size: 26px;
    margin-right: 124px;
    color: #4294e3;
}


.p16{
    margin-right: 88px;
}



.button4{
    display: inline-block;
    padding: 10px 45px;
    background-color: #8F12FD;
    border: none;
    color: #fff;
    border-radius: 35px;
    margin: 20px 191px 14px 3px;
    text-decoration: none;
}




.text-white {
    color: #fff !important;
    font-size: 23px;
    text-align: center;
}

.fs-4{
    margin: 16px 245px 14px 0px;
    background-color: blue;
    border-radius: 53px;
    padding: 9px 9px 9px 8px;
}

.heading_container12{
    text-align: center;
    padding: 50px 110px 54px 100px;
}

.clientset{
    background-color: #F0F6FF;
    padding: 22px 1px 16px 0px;
    border-radius: 10px;
    margin: 7px 0px 36px 3px;
}

.hover :hover{
    background-color: blue;
    color: white;
}

.Testimonial{
    color: #8F12FD;
    font-size: 1.25rem;
}

.client1{
    margin: 1px 1px 14px 8px;
    padding: 5px 72px 6px 0px;
}


.clientPadding{
    padding: 9px 24px 6px 11px;
    color: #919294;
}


.Pr-1{
    text-align: left;
    margin-left: 16px;
    color: #919294;
}

.text-warning{
    color: #ffc107
}

.Contact_us{
    color: #8F12FD;
    font-size: 1.25rem;
    text-align: center;
}

.Touch{
    font-size: 55px;
    text-align: center;
}

.P_form{
    text-align: center;
    margin: 37px 0px 38px 0px;
    color: #919294;
    font-size: 17px;
}

.form-control{
    width: 100%;
    height: 100%;
    padding: 19px 2px 16px 32px;
    border-radius: 13px;
    border: 1px solid #ced4da;
}

.form-control1{
    width: 100%;
    height: 100%;
    padding: 19px 4px 16px 32px;
    border-radius: 13px;
    margin: 23px 7px 2px 0px;
    border: 1px solid #ced4da;
}

.form-control2{
    width: 100%;
    height: 100%;
    padding: 19px 4px 16px 32px;
    border-radius: 13px;
    margin: 23px 7px 2px 0px;
    border: 1px solid #ced4da;
}


.Form_button{
    display: inline-block;
    padding: 10px 26px;
    background-color: #8F12FD;
    border: none;
    color: #fff;
    border-radius: 35px;
    margin: 34px 364px 34px 346px;
    text-decoration: none;
}

.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
}


.footer_Address{
    padding: 0px 0px 18px 0px;
}

.footer-white{
    margin: 0px 0px 21px 0px;
    font-size: 25px;
}

.footer-flex{
    display: flex;
}



.footer2{
    background-color: #1f67ac;
}

.border-bottom{
    color: white;
    font-size: 14px;

}

.border{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-right: 38px;
}

.footer-menu{
    text-align: center;
}

.home_footer{
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    color: white;

}

.Cookies_footer{
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    color: white;

}

.Help_footer{
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    color: white;

}

.FQAs_footer{
    color: white;
}



.info_section {
    background-color: #1f67ac;
    color: #fff;
    padding: 90px 0 45px 0;
}




.app_section{
    padding: 27px 50px 54px 100px;
}


.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    float: left;
  }
  
  .dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: white;
  }



.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; 
    line-height: 1.5;

}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.column-1 {
    max-width: 8.33%;
}
.column-2{
    max-width: 16.66%;
}
.column-3{
    max-width: 25%;
}
.column-4{
    max-width: 33.33%;
}
.column-5{
    max-width: 41.66%;
}
.column-6{
    max-width: 50%;
    text-align: inherit;
  
}
.column-7{
    max-width: 58.33%;
}
.column-8{
    max-width: 66.66%;
}
.column-9{
    max-width: 75%;
}
.column-10{
    max-width: 83.33;
}
.column-11{
    max-width: 91.66%;
}
.column-12{
    max-width: 100%;
}
.rounded-circle {
    border-radius: 50%;
}


.featurette-heading {
    font-size: 370%;
    font-weight: 700;
}

.lead {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: -13px;
}

.about_section {
    text-align: center;
}


.heading_container1 h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 39px;
}

.heading_container2 h2 {
    margin-right: 8px;;
    font-family: sans-serif;
    font-weight: 700;
    padding: 47px 149px 3px 100px;
    font-size: 39px;
}

.heading_container h2 {
    font-family: sans-serif;
    font-weight: 700;
    padding: 70px 50px 5px 80px;
    font-size: 39px;
}


.h2 {
    font-size: 6rem;
}

.works-card{
    padding: 0px 20px 0px 20px;
}

.about_section .btn-box a {
    margin-left: -62px;
    display: inline-block;
    padding: 10px 45px;
    background-color: #171717;
    border: 1px solid #171717;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    margin-top: 35px;
}


.about_section .btn-box3 a {
    margin-right: 56px;
    display: inline-block;
    padding: 10px 45px;
    background-color: #171717;
    border: 1px solid #171717;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    margin-top: 35px;
}

.about_section .btn-box1 a {
    margin-left: -5px;
    display: inline-block;
    padding: 10px 45px;
    background-color: #171717;
    border: 1px solid #171717;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    margin-top: 35px;
}




.heading_container1 {
    text-align: center;
    padding: 50px 118px 80px 100px;
}

.h21{
        font-family: sans-serif;
        font-size: 1.25rem;
}

.pg11{
    color: grey;
    padding: 16px;
    text-align: left;
}

.pg12{
    color: grey;
    padding: 16px;
    text-align: left;
    margin-left: 7px;
}

.pg13{
    color: grey;
    padding: 16px;
    text-align: left;
}

.pg14{
    color: grey;
    padding: 16px;
    text-align: left;
}

.pg15{
    color: grey;
    padding: 16px;
    text-align: left;
}

.pg16{
    color: grey;
    padding: 16px;
    text-align: left;
}


section.app_section {
    color: #fff;
    background: linear-gradient(to right,#30ae69,#072e85);
}

.featurette-heading2{
    padding: 5%;
    font-weight: 600;
}

.lead1{
    font-weight: 400;
}

.detail-box2{
    padding: 108px 0px 0px 0px;

}

.detail-box {
    padding: 45px 0px 0px 0px;
}

.h23{
        font-family: sans-serif;
        padding-top: 80px;
        font-size: 30px;
}



.h22 {
    font-family: sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
}

.p45{
    text-align: left;
    color: white;
}

.info_section h5 {
    font-family: sans-serif;
    margin-bottom: 9px;
    font-size: 21px;
    text-align: left;
}

.info_section .info_form form input {
    outline: 0;
    width: 78%;
    padding: 15px 15px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 27px;
    margin: 15px 0px 0px 0px;
}



.logo {
    text-align: left;
}

.Contact{
    text-align: left;
}

.address{
    text-align: left;
}

.phone{
    text-align: left;
}

.mail{
    text-align: left;
}

.info_form{
    text-align: initial;
}







* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 18px;
    width: 18px;
    border: 2px solid #fff;
    margin: 0 2px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: white;
}

/* Fading animation */
.fade {
    background-color: blue;
    animation-name: fade;
    animation-duration: 1.5s;
    margin: 0px;
    padding-top: 36px;
    color: white;
}

.slider-img{
    background-color: blue;
    padding: 30px;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (max-width: 980px ){
    .about_section .works-card .row .heading_container1{
        margin-bottom: 5px;
        flex-basis: 40%;
    }
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}